
/* theme section */
.theme-section {
    position: relative;
    flex-shrink: 1;
    width: 100%;
    height: 450px;
    background-color: var(--color-blue-light-4);
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    z-index: 1;
}

.theme-background {
    max-width: 100%;
    max-height: 100%;
    margin-top: 250px;
    position: relative;
}

.theme-background svg {
    width: 100%;
    height: 200px;
    fill: var(--color-white);
    transform: matrix(-1,0,0,1,0,0) scaleX(-1);
}

.theme-background::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 100%;
    background-color: var(--color-white);
    bottom: 0;
    left: 0;
/* background-color: aqua; */
}

.theme-container {
    position: absolute;
    width: 100%;
    height: auto;
    /* background-color: brown; */
    top: 0;
}

.theme-item {
    width: 100%;
    height: 100%;
    top: -220px;
}

.theme-item__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
}

.theme-item__text h1 {
    font-size: 56px;
    color: var(--color-blue-dark-1);
    font-weight: 500;
    /* font-weight: bold; */
    font-family: Roboto !important;
}

.theme-btn {
    /* position: absolute; */
    width: 100%;
    height: 62px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}

.theme-btn-item {
    width: auto;
    height: 100%;
    background-color: var(--color-blue-light-2);
    border-top-left-radius: 31px;
    border-bottom-left-radius: 31px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-btn__icon {
    width: 50px;
    height: 50px;
    margin-left: 4px;

}

.icon-plane {
    max-width: 100%;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 17px;
}

.fa-paper-plane {
    width: 100%;
    font-size: 12px;
    color: var(--color-blue-light-2);
}

.theme-btn__text {
    height: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

.inline-text {
    font-size: 20px;
    color: var(--color-white);
    word-spacing: 3px;
    letter-spacing: 2px;
}


.video-box {
    width: 100%;
    height: 460px;
    /* background-color: aquamarine; */
    padding: 0 40px;
    display: none;
}

.video-item {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-ytb {
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.content {
    margin-top: 20px;
    width: 100%;
    height: auto;
    /* background-color: brown; */
    padding: 20px 20px 40px ;
    display: flex;
    justify-content: center;
    /* margin-bottom: 50px; */
}

.content-wrapper {
    width: 1170px;

}

.content-text {
    width: 100%;
    margin-bottom: 30px;
}

.content-text span {
    font-size: 35px;
    font-weight: 500;
    font-family: Roboto !important;
}

.content-word {
    width: 100%;
    height: auto;
    margin: 12px 0 40px;
}

.content-word p {
    color: rgb(34, 34, 34);
    font-size: 17px;
    line-height: 1.7rem;
    font-weight: 400;
    /* font-family: Mulish; */
    letter-spacing: normal;
}

.content-box {
    width: 100%;
    height: auto;
    /* background-color: palegreen; */
    display: flex;
    justify-content: center;
}

.content-box__item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 0;
    /* margin-left: -15px; */

}

.content-item {
    position: relative;
    width:  calc(100% / 3 - 20px);
    /* width: 100%; */
    height: auto;
    /* background-color: palevioletred; */
    padding-top: 0px;
    margin: 0 10px;
    margin-bottom: 50px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.content-item:hover {
    box-shadow: 0px 8px 12px 0px var(--color-blue-light-5)
}

.content-item__head, 
.content_image_frame {
    display: block;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--color-white);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.content-clear {
    position: absolute;
    /* background-color: greenyellow; */
    bottom: 40px;
    width: 100%;
    height: 1%;
    /* margin-top: 50px; */
}

.content-clear__box {
    position: relative;
    float: right;
    max-width: 135px;
    border-radius: 2px;
    overflow: hidden;
    background-color: rgb(88,165,69);
    padding: 0 5px;
    margin-right: 15px;
}

.content-clear__box p {
    color: var(--color-white);
    text-align: center;
    font-size: 10px;
    line-height: 2.2;
    text-transform: uppercase;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
}

.content_image_frame img {
    width: 100%;
    height: 100%;
}

.content-item__icon {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: var(--color-white);
    /* background-color: olivedrab; */
}

.content-item__icon-box {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: var(--color-white);
    bottom: 5px;
    margin-left: 20px;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 5px 0px;
}

.icon-box__icon {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 11px ;
    
}

.icon-box__icon svg {
    width: 100%;
    height: 100%;
    fill: rgb(34,34,34);;
    margin-top: 1px;
}

.icon-box__icon img {
    width: 100%;
    height: 100%;
}

.content-item__container {
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    padding: 15px;
}

.content-item__container-text-element {
    max-width: 100px;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    text-align: center;
    background-size: auto !important;
    background-position: 50% 50% !important;
    background-attachment: scroll !important;
    background-repeat: no-repeat !important;
    border-radius: 10px;
}

.content-item__container-text-element span{
    text-transform: uppercase;
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif !important;
    font-weight: bold;
    line-height: 2.2em;
    color: rgb(34, 34, 34); 
    padding-top: 3px;

}

.content-item__container-text {
    color: rgb(34, 34, 34);
    font-size: 20px;
}

.content-item__container-text:hover {
    text-decoration: underline;
}

.content-item__container-text-title {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-item__container-text-time {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 20px;

}

.content-item__container-text-time ul {
    width: 100%;
    height: 100%;
}

.content-item__container-text-time ul li {
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: blue; */
    /* justify-content: center; */
    text-align: center;
    align-items: center;
}

.container-text-time__icon {
    width: 20px;
    height: 100%;
    position: relative;

}

.text-time__icon-box {
    max-height: 100%;
    max-width: 100%;
    /* display: flex; */
}

.text-time__icon-box i {
    height: 100%;
    /* width: 100%; */
}

.text-time__icon-box svg.tcb-icon {
    height: 100%;
    fill: var(--color-blue-light-2);
}

.container-text-time__text {
    margin-left: 6px;
}

.container-text-time__text span {
    font-weight: 600;
    font-size: 1rem;
    font-family: inherit;
    color: rgba(10,10,10,.85);
    line-height: 1.75;
    letter-spacing: normal;
}

.content-item__container-text-word {
    width: 100%;
    height: 120px;
    padding-bottom: 16px;
}

.content-item__container-text-word p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(106, 107, 108);
}

.content-item__container-text-price {
    width: 100%;
    padding: 20px 0 10px;
}

.content-item__container-text-price p {
    font-size: 16px;
    color: var(--color-black);
    font-family: Mulish, sans-serif;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: normal;
}

.content-item__container-text-price .price-before {
    text-decoration: line-through;
    font-weight: 600;
    color: rgb(214, 0, 0);
}

.content-item__container-text-price .price-after {
    color: var(--color-blue-light-6);
}

.content-item__under {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 0 14px 20px 14px;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-item__under-box {
    width: 164px;
    height: 48px;
    /* background: orange; */
}

.content-item__under-box a {
    width: 100%;
    height: 100%;
    border-bottom: 3px solid var(--color-blue-light-5);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* padding: 14px 14px 10px; */
}

/* .under-box__button-link::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: aqua;
    top: 0;
    left: 0;
} */

.content-item__under-box a:hover {
    background-color: var(--color-blue-light-2);

}

.content-item__under-box a:hover .button-link__text {
    color: var(--color-white);
}

.content-item__under-box a:hover .tcb-icon {
    fill: var(--color-white);
}

a.under-box__button-link {
    -webkit-align-items: center;
    overflow: hidden;
    width: 100%;
    text-align: center;
    line-height: 1.2em;
}

.button-link__text {
    color: var(--color-blue-light-5);
    font-size: 18px;
    letter-spacing: 2px;
}


.button-link__icon {
    width: 18px;
    height: 18px;
     margin-left: 10px;
}

.button-link__icon-box {
    max-width: 100%;
    max-height: 100%;
}

.button-link__icon-box svg {
    width: 100%;
    height: 100%;
    fill: var(--color-blue-light-5);
}

.content-item__under-learn {
    width: 164px;
    height: 48px;
    background: var(--color-blue-light-7);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;    
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.content-item__under-learn a{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

a.under-learn__button-link {
    -webkit-align-items: center;
    overflow: hidden;
    width: 100%;
    text-align: center;
    line-height: 1.2em;
    display: flex;
    justify-content: space-between;
}

.under-learn__button-link:hover{
    background-color: var(--color-blue-light-8);
    border-radius: 25px;
}

.under-learn__button-link:hover .tcb-icon {
    fill: var(--color-blue-light-9);
}

.under-learn__button-link .button-link-learn__icon {
    width: 40px;
    height: 40px;
    background-color: var(--color-white);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.button-link-learn__icon-box {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-link-learn__icon-box svg {
    width: 30%;
    fill: var(--color-blue-light-7);
}

.content-item__under-learn .button-link__text {
    color: var(--color-white);
    font-size: 10px;
    text-transform: uppercase;
    padding-right: 16px;
}

/* page */
.page-section {
    width: 100%;
    min-height: 200px;
    /* background-color: palevioletred; */
    padding: 0 100px;
}

.page-section-out {
    width: 100%;
    min-height: 200px;
    background-color: rgb(32, 65, 71);
    padding: 60px 20px;
    border-radius: 20px;
}

.page-image-caption {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-text-element {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.page-text-element h1 {
    color: var(--color-white);
    font-size: 35px;
    font-family: Roboto;
    text-transform: capitalize;
    font-weight: 500;
}

.page-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-button-link {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,153,0);
    padding: 8px 10px 8px 20px;
    border-radius: 50px;
    letter-spacing: 2px;
    color: rgb(255,255,255);

}

.page-button-text {
    position: relative;
    letter-spacing: 2px;
    margin-right: 10px;
}

.page-button-text__style {
    color: rgb(255,255,255);
}

.page-button-text strong {
    font-size: 18px;
    font-weight: 500;
}

.page-button-icon {
    padding-left: 3px;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-white);
    /* margin: 10px 10px; */
    border-radius: 50%;
}

.page-button-icon__box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-button-icon__box svg {
    width: 20%;
    fill: var(--color-white);
    margin: 15px 0;
}
