@media screen and (max-width:380px) {
    .show-video-model-container {
        max-height: 90px !important;
        max-width: 320px !important;
    }
    .show-video-model-video {
        width: 50% !important;
    }
}

@media (min-width:381px) and (max-width:414px) {
    .show-video-model-container {
        max-height: 90px !important;
        max-width: 320px !important;
    }

    .show-video-model-video {
        width: 50% !important;
    }
}

.show-video-model {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.show-video-model.open {
    display: flex;
}

.show-video-model-container {
    position: relative;
    background-color: var(--white-color);
    min-height: 380px;
    max-width: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    animation: madalFadeIn ease 0.3s;
}

.show-video-model-close {
    position: absolute; 
    width: 25px;
    height: 25px;
    background-color: var(--black-color);
    color: var(--white-color);
    z-index: 99;
    top: -10px;
    right: -10px;
    font-size: 1.6rem;
    /* padding-right: 10px;
    padding-top: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
}

.show-video-model-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-video-model-close:hover {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.show-video-model-video {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes madalFadeIn {
    from {
        opacity: 0;
        transform: translateY(90px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}